* {
  box-sizing: border-box;
}
.red {
  color: red;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  text-align: center;
  background-color: black;
  border: 1px solid #8a8a8ab9;
}
.card img {
  width: 150px;
  height: 120px;
}
.card .color span {
  border: 1px solid red;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  margin: 2px;
}
